@import  './variables';
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700|Roboto:300,400,700&display=swap');

@import './fontawesome/scss/fontawesome.scss';
@import './fontawesome/scss/solid.scss';
@import './fontawesome/scss/brands.scss';

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0px;
}

body, p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: $text-color;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  margin-top: 0px;

  &.white {
    color: #fff;
  }
}

h1 {
  font-size: $font-lg;

  @media (min-width: $tablet) {
    font-size: $font-xlg;
  }
}

h2 {
  font-size: $font-md;

  @media (min-width: $tablet) {
    font-size: $font-lg;
  }
}

h3 {
  font-size: $font-body;
  font-weight: 300;
  letter-spacing: 1.5px;

  @media (min-width: $tablet) {
    font-size: $font-md;
  }
}

a {
  color: #2995a2;
  text-decoration: none;

  &:hover {
    border-bottom: 3px solid #2995a2;
    font-weight: 900;
  }

  &.card:hover {
    border-bottom: none;
    font-weight: normal;
  }
}

button {
  appearance: none;
  padding: $one $three;
  box-shadow: $shadow;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #2995a2;

  &:hover {
    box-shadow: $shadow-focus;
    transform: scale(1.05);
  }
}

.nav {
  background-color: #fff;
  color: #222;
  padding: $three;
  position: absolute;
  width: 100%;
  z-index: 100;
  transition: 0.3s;

  &.nav--internal {
    position: relative;
  }

  a {
    color: #222;

    &:hover, &.active {
      border-bottom: 3px solid #222;
    }
  }

  &.nav--dark {
    background-color: #222;
    color: #fff;

    a {
      color: #fff;

      &:hover {
        border-bottom: 3px solid #fff;
      }
    }
  }

  .nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 2rem;

    @media (min-width: $tablet) {
      padding: 0 8rem;
    }
  }

  .nav__logo {
    width: 20%;

    img {
      width: 100%;
      max-width: 150px;
      height: auto;
    }
  }

  .nav__menu ul {
    display: flex;
    list-style: none;

    li {
      margin: 0px 10px;
    }
  }
}

.hero {
  background-image: url('/hero-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: #fff;

  .hero__content {
    display: flex;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    h1 {
      font-size: $font-lg;
      margin-bottom: $one;

      @media (min-width: $tablet) {
        font-size: $font-xlg;
      }
    }

    .hero__icon {
      width: 200px;
      height: auto;
      position: relative;
    }
  }

  &.hero--internal {
    height: 18rem;
    background-image: url('/hero-2.jpg');

    .hero__content {
      display: flex;
      text-align: center;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      height: 100%;
      
      h1 {
        font-size: $font-lg;
        margin-bottom: $one;

        @media (min-width: $tablet) {
          font-size: $font-xlg;
        }
      }
  
      .hero__icon {
        width: 200px;
        height: auto;
        position: relative;
      }
    }
  }
}

.overlay {
  position: relative;


  p, h1, h2, h3, h4, span, button, i {
    position: relative;
  }

  &:before {
    content: '';
    pointer-events: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: $overlay-color;
  }

  &.card:before {
    border-radius: 4px;
  }

  &.featured-event__image:before {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }

  &.card--news:hover:before {
    background: $overlay-color;
  }

  &.card--news:before {
    border-radius: 4px;
    background: $overlay-color-light;
  }
}

.container {
  width: 100%;
  padding: 2rem 2rem;

  &.container--full {
    padding: 0px;
    display: flex;
    max-width: none;

    .container--full__child {
      flex-basis: 50%;
      display: flex;
      align-items: center;
    }
  }

  &.container--social {
    display: block;

    @media (min-width: $tablet) {
      display: flex;
    }
  }

  &.container--post {
    max-width: 800px;
    margin: 0 auto;
  }

  &.container--event {
    background-color: #efefef; 
  }

  .subhead-link {
    display: flex;
    align-items: baseline;

    h2 {
      margin-right: $three;
    }
  }

  @media (min-width: $tablet) {
    padding: 2rem 4rem;
  }

  @media (min-width: $desktop) {
    padding: 4rem 8rem;
    max-width: 1600px;
    margin: 0 auto;
  }
}

.card-row {
  display: flex;
  width: 100%;

  .card-row__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;

    .card {
      flex-basis: 48%;
      margin-bottom: $three;

      &.card--news {
        flex-basis: 24%;
      }

      @media (min-width: $desktop) {
        flex-basis: 24%;
        margin-bottom: 0;
      }
    }

    &.index {
      flex-wrap: wrap;
      justify-content: flex-start;
      
      .card.card--news {
        flex-basis: 48%;
        margin-bottom: $six;
        margin-left: 1%;
        margin-right: 1%;
      }

      .news__image {
        height: 8rem;
      }

      @media (min-width: $tablet) {
        .news__image {
          height: 12rem;
        }
      }

      @media (min-width: $desktop) {
        .card.card--news {
          flex-basis: 23%;
          margin-bottom: $six;
          margin-left: 1%;
          margin-right: 1%;
        }

        .news__image {
          height: 16rem;
        }
      }
    }

    @media (min-width: $desktop) {
      flex-wrap: nowrap;
    }
  }
}

.slider-row {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;

  .slider-row__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
    overflow: visible;
    transition-property: transform;
    transition: 0.5s;

    .card {
      padding-left: 0;
      padding-right: 0;
      max-width: none;
      width: 48%;
      margin-right: 1%;
      margin-left: 1%;
      flex: auto;
      flex-shrink: 0;
      flex-grow: 0; 

      .news__image {
        @media (min-width: $tablet) {
          height: 26rem;
        }
      }
    }
  }

  .slider__buttons {
    position: absolute;
    font-size: $font-md;
    height: auto;
    width: auto;
    cursor: pointer;

    &.slider__buttons--left {
      left: 0%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &.slider__buttons--right {
      left: 100%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.card {
  box-shadow: $shadow;
  padding: 4rem $three;
  border-radius: 4px;
  position: relative;

  text-align: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: 0.3s;

  @media (min-width: $tablet) {
    padding: 8rem $three;
  }

  &.card--news {
    padding: 0px;
    text-align: left;

    .card--news__content {
      padding: $four;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .news__title {
      font-size: $font-md;
      font-weight: 700;
      color: #fff;
      position: relative;
      transition: 0.3s;
    }

    .news__date {
      font-weight: 300;
      font-style: italic;
      margin-bottom: $three;
      color: #fff;
      display: none;
      transition: 0.3s;
    }

    .news__excerpt {
      color: #fff;
      position: relative;
      display: none;
      transition: 0.3s;
    }

    .news__image {
      width: 100%;
      height: 16rem;

      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;

      border-radius: 4px;
    }

    &:hover {
      .news__title {
        font-size: $font-lg;
      }

      .news__date, .news__excerpt {
        display: block;
      }
    }
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: $shadow-focus;


    .card__title:after {
      content: ""; /* This is necessary for the pseudo element to work. */ 
      margin: 0 auto; /* This will center the border. */
      width: 25%; /* Change this to whatever width you want. */
      border-bottom: 3px solid #fff;
      display: block;
      position: relative;
    }
  }

  .card__title {
    font-size: $font-body;
    color: #fff;
    position: relative;

    &:after {
      content: ""; /* This is necessary for the pseudo element to work. */ 
      margin: 0 auto; /* This will center the border. */
      width: 0%;
      border-bottom: 3px solid transparent;
      display: block;
      transition: 0.3s;
    }

    @media (min-width: $tablet) {
      font-size: $font-md;
    }
  }
}

i {
  &.instagram {
    @extend %fa-icon;
    @extend .fab;

    &:before {
      content: fa-content($fa-var-instagram);
    }
  }

  &.facebook {
    @extend %fa-icon;
    @extend .fab;

    &:before {
      content: fa-content($fa-var-facebook);
    }
  }

  &.twitter {
    @extend %fa-icon;
    @extend .fab;

    &:before {
      content: fa-content($fa-var-twitter);
    }
  }

  &.close {
    @extend %fa-icon;
    @extend .fas;

    background-color: #fff;
    padding: $two;
    border-radius: 50%;
    transition: 0.3s;

    &:hover {
      box-shadow: $shadow;
      transform: scale(1.09);
    }

    &:before {
      content: fa-content($fa-var-times);
    }
  }

  &.left {
    @extend %fa-icon;
    @extend .fas;

    background-color: #fff;
    padding: $four;
    border-radius: 50%;
    transition: 0.3s;

    &:hover {
      box-shadow: $shadow;
      transform: scale(1.09);
    }

    &:before {
      content: fa-content($fa-var-chevron-left);
    }
  }

  &.right {
    @extend %fa-icon;
    @extend .fas;

    background-color: #fff;
    padding: $four;
    border-radius: 50%;
    transition: 0.3s;

    &:hover {
      box-shadow: $shadow;
      transform: scale(1.09);
    }

    &:before {
      content: fa-content($fa-var-chevron-right);
    }
  }

  &.calendar {
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-calendar);
    }
  }
}

.container--social {
  background-color: #efefef;

  .social-icons {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: $font-lg;
    padding: 8rem 4rem;
    
    i {
      margin: 0 $three;
      transition: 0.3s;

      &:hover {
        transform: scale(1.09);
      }
    }
  }  

  .recent-posts {
    display: flex;
    flex-wrap: wrap;
    padding: $four;
    height: 100%;
    width: 100%;
    
    .recent-posts__post {
      flex-basis: 33.333%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 8rem;
      transition: 0.1s;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }

  }
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #222222;

  ul {
    list-style: none;
  }

  .social-icons {
    text-align: center;
  }

  i {
    margin: 0 $one;
  }

  .footer__logo {
    width: 20%;

    img {
      width: 100%;
      margin-bottom: $three;
    }
  }
}

.modal-background {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;

  .close {
    position: fixed;
    right: 30px;
    top: 30px;
  }

  .modal-content {
    width: 90%;
    margin: auto;
    border-radius: 4px;
    top: 10%;
    position: relative;
    padding: $six;
    background-color: rgba(200, 200, 200, .25);  
    backdrop-filter: blur(7px);
    box-shadow: $shadow;

    @media (min-width: $tablet) {
      width: 60%;
      top: 5%;
    }

    @media (min-width: $desktop) {
      width: 50%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  .product-list__product {
    flex-basis: 100%;
    margin-bottom: $three;

    .product__image {
      width: 100%;
      height: 18rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  
      border-radius: 4px;
    }

    .product__details {
      text-align: center;
      padding: $three;
      
      .product__title {
        font-size: $font-md;
        font-weight: 700;
      }
    }

    @media (min-width: $tablet) {
      flex-basis: 48%;
      margin-right: 1%;
      margin-left: 1%;

    }

    @media (min-width: $desktop) {
      flex-basis: 31%;

    }
  }
}

.post {
  .post__fimage {
    width: 100%;
    height: 18rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .post__body {
    margin: 4rem 0;
  }
}

.featured-event {
  display: flex;
  border-radius: 4px;
  box-shadow: $shadow;
  overflow: hidden;
  height: 400px;

  &:hover {
    .featured-event__image {
      width: 0%;
    }

    .featured-event__info {
      width: 100%;
    }

    @media (min-width: $tablet) {
      .featured-event__image {
        width: 70%;
      }
  
      .featured-event__info {
        width: 30%;
      }
    }
  }


  .featured-event__image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
    transition: 0.3s;

    .event__title {
      font-size: $font-lg;
      position: relative;
      color: #fff;
      top: 50%;
      transform: translateY(-50%);

      @media (min-width: $tablet) {
        font-size: $font-xlg;
      }
    }
  }

  .featured-event__info {
    padding: 4rem 0;
    text-align: center;
    width: 0%;
    background-color: #fff;
    transition: 0.3s;

    i {
      font-size: $font-lg;
      margin-bottom: $three;
    }

    .event__day {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-weight: 300;
    }

    .event__month {
      text-transform: uppercase;
      font-size: $font-lg;

      @media (min-width: $tablet) {
        font-size: $font-xlg;
      }
    }

    .event__date {
      font-size: $font-lg;

      @media (min-width: $tablet) {
        font-size: $font-xlg;
      }
    }

    .event__location {
      font-size: $font-body;
      font-weight: 300;
      letter-spacing: 1.2;
      text-transform: uppercase;
      white-space: nowrap;

      @media (min-width: $tablet) {
        font-size: $font-md;
      }
    }
  }
}

.admin {
  display: flex;

  .sidebar {
    width: $fifth;
    padding: $six $three;
    background-color: #efefef;
    
    a {
      display: block;
      margin: $three 0;

      &:hover {
        border: none;
        text-decoration: underline;
      }
    }
  }

  .admin-content {
    padding: $six;
    width: $full;

    .admin-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        margin: $three 0;
      }
    }

    .admin-table__header {
      display: flex;
      border-bottom: 2px solid #efefef;
      margin-bottom: $six;

      div {
        padding: $one $three;
        font-weight: 900;
      }

      &.admin-table__header--posts div {
        width: $fifth;
      }
    }

    .admin-table {
      width: $full;

      .admin-table__item {
        display: flex;

        div {
          margin: $two 0;
          padding: 0 $three;
        }

        &.admin-table__item--posts div {
          width: $fifth;
        }

        &:nth-child(even) {
          background-color: #efefef;
        }
      }
    }
  }
}